<aside>
  <div class="sidebar left bg-primary h-1000">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to items_path(buyer_libray: true), class: 'm-1 text-white' do %>
            <i class="bi bi-collection-fill text-white ml-3"></i>
            <span class="nav-link-text text-white ml-1"><%= t('general.my.other') + ' '+ t('activerecord.models.item.other') %></span>
          <% end %>
        </li>
        <% if current_user.is_seller? %>
          <li class="nav-item">
            <%= link_to sales_path, class: 'm-1 text-white' do %>
              <i class="bi bi-cash-coin text-white ml-3"></i>
              <span class="nav-link-text text-white ml-1"><%= t('activerecord.models.sale.other') %></span>
            <% end %>
          </li>
        <% end %>
        <% if current_user.is_admin? %>
          <li class="nav-item">
            <%= link_to show_add_credits_path, class: 'm-1 text-white' do %>
              <i class="bi bi-cash-coin text-white ml-3"></i>
              <span class="nav-link-text text-white ml-1"><%= t('general.add_credits') %></span>
            <% end %>
          </li>
        <% end %>
        <% if current_user.is_buyer? %>
          <li class="nav-item">
            <%= link_to user_reload_balance_path(current_user), class: 'm-1 text-white' do %>
              <i class="bi bi-cash-coin text-white ml-3"></i>
              <span class="nav-link-text text-white ml-1"><%= t('general.reload_balance') %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
</aside>