<nav class="navbar navbar-expand-md navbar-dark bg-dark border-bottom " >
  <div class="pl-3 text-white">
    <h1><%= link_to 'Woman Shop', root_path, class: 'text-white' %></h1>
  </div>
  <% if !current_user %>

    <ul class="navbar-nav ml-auto text-right ms-auto mb-2 mb-lg-0 m-1 justify-content-end" >
      <div class="col-12">
        <%= link_to 'Sign in', new_user_session_path, class: 'text-white' %>
      </div>
    </ul>
  <%  else %>
      <div class="container-fluid">
        <% if user_signed_in? %>

          <ul class="navbar-nav ml-auto text-right ms-auto mb-2 mb-lg-0 m-1 justify-content-end">
            <% if current_user.is_buyer? %>
              <li class="nav-item m-1">
                <%= link_to cart_path(current_user&.cart&.id || '') do %>
                  <i class="bi bi-cart-fill text-white"></i>
                  <p id="items_in_cart" class="text-white d-inline"><%= current_user&.cart&.items&.count %></p>
                <% end %>
              </li>
            <% end %>
           <li class="nav-item m-1">
            <div class="card">
              Balance: <%= current_user.balance %>
            </div>
            </li>
            <li class="nav-item dropdown text-right">
              <div class="dropdown ">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  <div class="media align-items-center">
                    <span class="avatar avatar-sm rounded-circle">
                      <%= image_tag "blank-profile.png", class: "navbar-brand-img", alt: "..." %>
                    </span>
                    <div class="media-body  ml-2  d-none d-lg-block text-dark">
                      <span class="mb-0 text-sm  font-weight-bold text-white"><%= current_user.email %></span>
                    </div>
                  </div>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Welcome</h6>
                  </div>
                  <%= link_to current_user , class: 'dropdown-item' do %>
                    <i class="ni ni-single-02"></i>
                    <span>My User</span>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
                    <i class="ni ni-user-run"></i>
                    <span>Sign Out</span>
                  <% end %>
                </ul>
              </div>
            </li>
        </ul>
        <% end %>

      </div>
  <% end %>
</nav>