<p id="notice"><%= notice %></p>



<div class="container-fluid">

  <div class="row mb-2">

    <div class="col-12">
      <% if !params['buyer_libray'] %>
        <h1>Books</h1>
      <% else %>
        <h1>My Books</h1>
      <% end %>
    </div>
    <div class="col-12">
      <input id="search_general" type="text" class="validate form-control ml-2 mt-2" placeholder="General Search (Look for title, author, or description)" >
    </div>
  </div>
  <br>
  <div class="row" id="table_results">
    <% @books&.each do |book| %>
      <% if ((current_user.is_buyer? && book.stock && book.stock > 0) || params['buyer_libray'] || current_user.is_seller?)%>
        <div class="card col-3 mx-1" style="width: 16rem;">
          <h5 class="card-title d-inline"><%= book.title %></h5>
          <% if !params['buyer_libray'] %>
            <p class="badge bg-secondary">Price: <%= book.price %></p>
          <% end %>
          <b class="card-subtitle mb-2 text-muted pt-2">Author: <%= book.author %></b>
          <p class="card-text"><%=book.description.truncate(100) %></p>
          <% if !params['buyer_libray'] %>
            <p class="badge bg-light d-inline">Stock: <%= book.stock %></p>
            <br>
            <%= link_to 'Add To Card', add_book_path(book), remote: true if current_user.is_buyer? %>
          <% end %>
          <%= link_to 'Edit', edit_book_path(book) if current_user.is_seller? %>
        </div>

      <% end %>
    <% end %>
  </div>

</div>


<br>

<%= link_to 'New Book', new_book_path if current_user.is_seller? %>

<script type="text/javascript" charset="utf-8">
    var searchBox = document.getElementById('search_general');

    searchBox.onkeyup = function(){
        var filter = searchBox.value.toLowerCase();
        var tr = document.getElementById('table_results').getElementsByTagName("div");

        for (i = 0; i < tr.length; i++) {
            var td_one = tr[i].getElementsByTagName("h5")[0];
            var td_two = tr[i].getElementsByTagName("b")[0];
            <% if !params['buyer_libray'] %>
            var td_three = tr[i].getElementsByTagName("p")[1];
            <% else %>
            var td_three = tr[i].getElementsByTagName("p")[0];

            <% end %>

            if (td_one || td_two || td_three) {
                var txtValue = td_one.textContent || td_one.innerText;
                var txtValue2 = td_two.textContent || td_two.innerText;
                var txtValue3 = td_three.textContent || td_three.innerText;
                if ( txtValue.toLowerCase().indexOf(filter) > -1 ||
                    txtValue2.toLowerCase().indexOf(filter) > -1 ||
                    txtValue3.toLowerCase().indexOf(filter) > -1 ){
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>