<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :stock %>
    <%= form.text_field :stock, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :app_fee %>
    <%= form.text_field :app_fee, value: '$' + $app_fee.to_s, class: 'form-control', disabled: true %>
  </div>

    <%= form.hidden_field :user_id, value: current_user.id %>
  <br>

  <div class="actions">
    <%= form.submit "Post Item", class: 'btn btn-primary rounded-pill mt-2' %>
  </div>
<% end %>
