<p id="notice"><%= notice %></p>
  <div class="row">
      <div id="carouselCovertSlides" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselCovertSlides" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselCovertSlides" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselCovertSlides" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" style=" width:100%; height: 50vw !important;">
          <div class="carousel-item active">
            <%= image_tag '/img/1.png', class: 'd-sm-none d-md-block mx-auto w-100'%>
          </div>
          <div class="carousel-item">
            <%= image_tag '/img/2.png', class: 'd-sm-none d-md-block mx-auto w-100'%>
          </div>
          <div class="carousel-item">
            <%= image_tag '/img/3.png', class: 'd-sm-none d-md-block mx-auto w-100'%>
          </div>
        </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12">
      <% if !params['buyer_libray'] %>
        <h1><%= t('activerecord.models.item.other') %></h1>
      <% else %>
        <h1><%= t('general.my.other') + ' ' + t('activerecord.models.item.other') %></h1>
      <% end %>
    </div>
    <div class="col-12">
      <input id="search_general" type="text" class="validate form-control" placeholder="<%= t('general.general_search') %>" >
    </div>
  </div>
  <div class="row" id="table_results">
    <% @items&.each do |item| %>
      <div class="col-3 p-2">
        <% if (((current_user&.is_buyer? || true) && item.stock && item.stock > 0) || params['buyer_libray'] || current_user&.is_seller?)%>
        <div class="card col-3 mx-3" style="width: 16rem;">
          <h5 class="card-title d-inline"><%= item.title %></h5>

          <% if item.images %>
            <div id="<%= 'carouselItem' + item.id.to_s %>" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <% item.images.each_with_index do |image, index| %>
                  <div class="<%= index == 0 ?  "carousel-item active" :  "carousel-item" %>" >
                    <div class="d-flex justify-content-center">
                      <%= image_tag image, style: 'width: 175px; display: block', class: 'p-2'%>
                    </div>
                  </div>
                <% end %>
              </div>
              <% if item.images.count > 1 %>
                <button class="carousel-control-prev" type="button" data-bs-target="<%= '#carouselItem' + item.id.to_s %>"  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon bg-primary" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="<%= '#carouselItem' + item.id.to_s %>" data-bs-slide="next">
                  <span class="carousel-control-next-icon bg-primary" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              <% end %>
            </div>
          <% end %>
          <% if !params['buyer_libray'] %>
            <p class="badge bg-primary text-white"><%= t('activerecord.attributes.item.price') %>: $<%= item.price.round(2) %></p>
          <% end %>
          <% if user_signed_in? && current_user.is_seller?  %>
            <p class="badge bg-secondary text-white"><%= t('general.app_fee_per_sale') %> $<%= (item.price * $app_fee).round(2) %></p>
          <% end %>
          <b class="card-subtitle mb-2 text-muted pt-2"><%=t('activerecord.attributes.item.seller') %>: <%= item.author %></b>
          <p class="card-text"><%=item.description.truncate(100) %></p>
          <% if !params['buyer_libray'] %>
            <p class="badge bg-light d-inline text-dark"><%=t('activerecord.attributes.item.stock') %>: <%= item.stock %></p>
            <br>
            <%= link_to 'Add To Card', add_item_path(item), remote: true if user_signed_in? && current_user.is_buyer? %>
          <% end %>
          <%= link_to t('actions.edit'), edit_item_path(item) if user_signed_in? && current_user.is_admin? && current_user&.items&.find_by_id(item.id)%>
          <%= link_to t('actions.remove'), item, method: :delete if user_signed_in? && current_user.is_admin? && current_user&.items&.find_by_id(item.id)%>
        </div>

      <% end %>
      </div>
  <% end %>
  </div>



<br>

<%= link_to t('general.new_item'), new_item_path, class: 'btn btn-primary rounded-pill mt-1' if user_signed_in? && current_user.admin? && params['buyer_libray'] %>

<script type="text/javascript" charset="utf-8">
    var searchBox = document.getElementById('search_general');

    searchBox.onkeyup = function(){
        var filter = searchBox.value.toLowerCase();
        var tr = document.getElementById('table_results').getElementsByTagName("div");

        for (i = 0; i < tr.length; i++) {
            var td_one = tr[i].getElementsByTagName("h5")[0];
            var td_two = tr[i].getElementsByTagName("b")[0];
            <% if !params['buyer_libray'] %>
            var td_three = tr[i].getElementsByTagName("p")[1];
            <% else %>
            var td_three = tr[i].getElementsByTagName("p")[0];

            <% end %>

            if (td_one || td_two || td_three) {
                var txtValue = td_one.textContent || td_one.innerText;
                var txtValue2 = td_two.textContent || td_two.innerText;
                var txtValue3 = td_three.textContent || td_three.innerText;
                if ( txtValue.toLowerCase().indexOf(filter) > -1 ||
                    txtValue2.toLowerCase().indexOf(filter) > -1 ||
                    txtValue3.toLowerCase().indexOf(filter) > -1 ){
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>