<p id="notice"><%= notice %></p>

<p>
  <strong>Percentage:</strong>
  <%= @discount.percentage %>
</p>

<p>
  <strong>Direct:</strong>
  <%= @discount.direct %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @discount.quantity %>
</p>

<p>
  <strong>Pieces:</strong>
  <%= @discount.pieces %>
</p>

<p>
  <strong>Type:</strong>
  <%= @discount.type %>
</p>

<p>
  <strong>Item:</strong>
  <%= @discount.item_id %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
