<div id="<%= dom_id shipment %>">
  <p>
    <strong>Name:</strong>
    <%= shipment.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= shipment.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= shipment.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= shipment.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= shipment.city %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= shipment.zipcode %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= shipment.country %>
  </p>

  <p>
    <strong>Track number:</strong>
    <%= shipment.track_number %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= shipment.status %>
  </p>

  <p>
    <strong>Method:</strong>
    <%= shipment.method %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= shipment.payment_id %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= shipment.payment_type %>
  </p>

  <p>
    <strong>Collection:</strong>
    <%= shipment.collection_id %>
  </p>

  <p>
    <strong>Collection status:</strong>
    <%= shipment.collection_status %>
  </p>

  <p>
    <strong>Preference:</strong>
    <%= shipment.preference_id %>
  </p>

  <p>
    <strong>Merchant order:</strong>
    <%= shipment.merchant_order_id %>
  </p>

  <p>
    <strong>Cart:</strong>
    <%= shipment.cart_id %>
  </p>

</div>
