<p id="notice"><%= notice %></p>

<h1><%= t('activerecord.models.sale.other') %></h1>

<div class="card">
  <div class="card-title">
    Summary
  </div>
  <div class="card-body">
    <b>Total sales:</b> <%= @sales.count %>
    <br>
    <b>Total sales amount:</b> <%= '$' + @amount_sold.to_s %>
    <br>
    <b>Application sales fees:</b> <%= '$' + @sales.sum(:app_fee).round(2).to_s %>
    <br>
    <b>Earnings:</b> <%= '$' + (@amount_sold - @sales.count).to_s %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= t('activerecord.models.item.one') %></th>
      <th><%= t('activerecord.attributes.item.price') %></th>
      <th>App Fee</th>
      <th>Sale date</th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.item.title %></td>
        <td><%= sale.item.price %></td>
        <td><%= sale.app_fee || 0%></td>
        <td><%= sale.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
